<section class="cid-raAHZDRN1U mbr-fullscreen" id="header2-g">
  <div class="container align-center">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10">
        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">האם אי פעם היית מעורב בתאונה?</h1>
        <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" (click)='onSubmit("no")'>כן</a>
          <a class="btn btn-md btn-primary display-4" (click)='onSubmit("no")'>לא</a></div>
      </div>
    </div>
  </div>
</section>
