<section class="cid-raAGJejCVL mbr-fullscreen" id="header2-e">
  <div class="container align-center">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10">
        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
          מהי קבוצת הגיל שלך?</h1>

        <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" (click)='onSubmit("age-group-1")'>16-21</a>
          <a class="btn btn-md btn-primary display-4" (click)='onSubmit("age-group-2")'>22-27</a> <a class="btn btn-md btn-primary display-4"
            (click)='onSubmit("age-group-3")'>28-39</a> <a class="btn btn-md btn-primary display-4" (click)='onSubmit("age-group-4")'>40-80</a>
          <a class="btn btn-md btn-primary display-4" (click)='onSubmit("age-group-5")'>80+</a></div>
      </div>
    </div>
  </div>

</section>
