<section class="cid-raAHrA2fjr mbr-fullscreen" id="header2-f">





  <div class="container align-center">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10">
        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">כמה שנים הנך בעל רשיון רכב?</h1>


        <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" (click)='onSubmit("year-group-1")'>פחות
            משנה</a>
          <a class="btn btn-md btn-primary display-4" (click)='onSubmit("year-group-2")'>2-10</a> <a class="btn btn-md btn-primary display-4"
            (click)='onSubmit("year-group-3")'>10-20</a> <a class="btn btn-md btn-primary display-4" (click)='onSubmit("year-group-4")'>20+</a></div>
      </div>
    </div>
  </div>

</section>
