<section class="cid-raAOqRj8eL mbr-fullscreen" id="header2-l">
  <div class="container align-center">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10">
        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">תודה.<br>לצערנו לא נוכל להתאים לך ביטוח
          בחברתנו</h1>

        <div class="mbr-section-btn"><a class="btn btn-md btn-white display-4" (click)='onSubmit()'> למידע נוסף
            על FormBot
          </a></div>
      </div>
    </div>
  </div>

</section>
