<!-- <p> -->
<section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">
  <div class="container align-center">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10">
        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
          FormBot</h1>

        <p class="mbr-text pb-3 mbr-bold  mbr-fonts-style display-2">להפוך כל תהליך עסקי לשיחה נעימה </p>
        <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" (click)="onSubmit()"> בואו נצא
            לדרך 👫
          </a></div>
      </div>
    </div>
  </div>

</section>

<!-- <button type="submit" (click)="onSubmit()" class="btn btn-success">Start</button> -->
<!-- </p> -->
